@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bs-font-sans-serif: 'Nunito', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

:root, [data-bs-theme=light] {
  --temaCor: #ddf;
  --blurCor: rgba(255, 255, 255, 0.7);
  --negativo: 0;
}
[data-bs-theme=dark] {
  --temaCor: #550;
  --blurCor: rgba(0, 0, 0, 0.7);
  --negativo: 1;
}

.icone {
  filter: invert(var(--negativo));
}
.bg-grad-nav {
  background-color: transparent;
}
.bg-grad-nav:hover, .bg-grad-nav:focus {
  background: linear-gradient(225deg, rgba(0, 255, 255, 0.1) 0%, rgba(0, 0, 255, 0.1) 100%);
}
.bg-grad-nav:active {
  background: linear-gradient(225deg, rgba(0, 255, 255, 0.15) 0%, rgba(0, 0, 255, 0.15) 100%);
}
.imgbg{
  background-image: url(https://valeriohasman.github.io/portfolio/imagens/wallpaper.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.imgbg div{
  background: var(--blurCor);
  backdrop-filter: blur(0.6rem); 
  height: 100vh;
}