@import url("./estilosProjetos.css");

.altura {
  min-height: calc(100vh - 73px);
  min-height: calc(100svh - ( 48px + 1.325rem + 0.9dvw ) * (13 / 15));
}

.alturaProjetos {
  min-height: calc( 100vh - 130px);
  min-height: calc( 100lvh - 48px - ((1.3rem + 0.6vw) * 3));
}

.balance * {
  text-wrap: balance;
}

.emojiIco {
  width: var(--bs-body-font-size);
  height: var(--bs-body-font-size);
}

[data-bs-theme=light] .btn-auto {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

[data-bs-theme=dark] .btn-auto {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

:root,
[data-bs-theme=light] {
  --bg-links-hover: rgba(36, 44, 91, 0.1);
  --bg-links-active: rgba(36, 44, 91, 0.15);
}

[data-bs-theme=dark] {
  --bg-links-hover: rgba(255, 255, 255, 0.1);
  --bg-links-active: rgba(255, 255, 255, 0.15);
}

.bg-links {
  min-width: 5rem;
  transition: 0.15s ease-out all;
}

.bg-links:hover {
  transition: unset;
  background-color: var(--bg-links-hover);
}

.bg-links:active {
  transition: unset;
  background-color: var(--bg-links-active);
}

.portaFolio {
  content: "";

  --tamanho: 3em;
  background-image: url('../imagens/ICONE.png');
  background-repeat: no-repeat;
  background-size: var(--tamanho) var(--tamanho);
  width: var(--tamanho);
  height: var(--tamanho);
  display: inline-block;

  position: fixed;
  right: calc(var(--tamanho) / 2.5);
  z-index: 1030;

  animation: topo ease-out;
  animation-timeline: scroll();
}

@keyframes topo {
  0% {
    top: calc(var(--tamanho) / 2.5 - 96px);
    opacity: 0;
  }

  0.5% {
    top: calc(100% - var(--tamanho) - (var(--tamanho) / 2.5));
    opacity: 1;
  }

  100% {
    top: calc(100% - var(--tamanho) - (var(--tamanho) / 2.5));
  }
}
